.categoryHeading{
  font-family: Craftwork Grotesk;
font-size: 114.286px;
font-style: normal;
font-weight: 500;
line-height: 100px;
letter-spacing: -3.429px;
}


.categoryHero{
  background-image: url("../../../public/page5heroBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid black;
}

.categorySubHeading{
font-size: 76.19px;
font-style: normal;
font-family: Craftwork Grotesk;
font-weight: 500;
line-height: 32.381px;
letter-spacing: -2.286px;
margin-top: 178px;
}

.categorySubHeadDes{
  color: rgba(0, 0, 0, 0.20);
  font-family: Craftwork Grotesk;
  font-size: 28.571px;
  font-style: normal;
  font-weight: 500;
  line-height: 37.143px; /* 130% */
  width: 70%;
  margin-top: 25px;
  margin-bottom: 40px;
}

@media (max-width: 1440px) {
  .categoryHeading{
  font-size: 90.286px;
  line-height: 80px;
  }
  .categorySubHeading{
    font-size: 70.19px;
    margin-top: 14vh;
    }
    .categorySubHeadDes{
      font-size: 26.571px;
      line-height: 30.143px; /* 130% */
    }
}

@media (max-width: 1280px) {
  .categoryHeading{
  font-size: 80.286px;
  line-height: 75px;
  }

  .categorySubHeading{
    font-size: 66.19px;
    line-height: 32.381px;
    margin-top: 10vh;
    }

    .categorySubHeadDes{
      font-size: 20.571px;
    }
}

@media (max-width: 992px) {
  .categoryHeading{
  font-size: 70.286px;
  line-height: 70px;
  }

  .categorySubHeading{
    font-size: 56.19px;
    line-height: 30.381px;
    margin-top: 10vh;
    }

    .categorySubHeadDes{
      font-size: 20.571px;
    }
}

@media (max-width: 768px) {
  .categoryHeading{
  font-size: 60.286px;
  line-height: 65px;
  }

  .categorySubHeading{
    font-size: 46.19px;
    line-height: 32.381px;
    margin-top: 9vh;
    }

    .categorySubHeadDes{
      font-size: 20.571px;
    }
}

@media (max-width: 600px) {
  .categoryHeading{
  font-size: 55.286px;
  line-height: 60px;
  }

  .categorySubHeading{
    font-size: 40.19px;
    margin-top: 7vh;
    }

    .categorySubHeadDes{
      font-size: 20.571px;
      width: 85%;
      margin-top: 2vh;
      margin-bottom: 3vh;
    }
}

@media (max-width: 450px) {
  .categoryHeading{
  font-size: 45.286px;
  line-height: 55px;
  }

  .categorySubHeading{
    font-size: 35.19px;
    margin-top: 6vh;
    }

    .categorySubHeadDes{
      font-size: 16.571px;
      width: 95%;
      margin-top: 2vh;
      margin-bottom: 3vh;
    }
}

